.recipe__list__container::-webkit-scrollbar {
  display: none;
}

.recipe__list__container {
  display: flex;
  width: 100%;
}
.recipe__list__wrapper {
  width: 100%;
  margin: 1em 2em;
  display: flex;
  padding-right: 3em;
  overflow-x: scroll;
}

.recipe__list__title {
  position: absolute;
  left: 2.5em;
}
