.btn {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 0.5em 2em;
  border-radius: 0.4em;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  cursor: pointer;
}
.btn:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn,
.btn-check:active + .btn,
.btn:active,
.btn.active,
.show > .btn.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn:active:focus,
.btn.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn:disabled,
.btn.disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
